/* Universal Area */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1260px;
    height: 940px;
    font-family: "Arial Black";
    font-size: 16px;
    background-color: #EDF2C5;
}

a {
    text-decoration: none;
}


/* Container */

.container {
    width: 940px;
    /* height: 880px; */
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 35px;
}

.box {
    border: 1px solid #778A50;
    border-radius: 3px;
}


/* Container - Header Area */

header {
    margin-bottom: 20px;
}


/* Container - Header Area - Top Area */

.top-list {
    width: 940px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 17px;
}

.top-list-items {
    list-style: none;
}

.top-list .left-side-item {
    width: 271px;
    height: 42px;
    align-self: flex-end;
    margin-right: auto;
    font-size: 44px;
    color: #778A50;
}

.top-list .right-side-items {
    height: 25px;
    margin-top: 61px;
    margin-right: 10px;
}

.top-list .btn {
    width: 25px;
}

.top-list .verticle-line {
    width: 0px;
    border-left: 1px solid #778A50;
}

.top-list .login-join a {
    height: 25px;
    display: flex;
    align-items: center;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #778A50;
}

.top-list-items .login {
    width: 60px;
    display: flex;
    justify-content: center;
}

.top-list-items .join {
    width: 50px;
    display: flex;
    justify-content: center;
}

#join {
    margin-right: 0px;
    /* required */
}


/* Container - Header Area - Navigation Bar */

.nav-list {
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #778A50;
}

.nav-list-items {
    list-style: none;
    margin: 0 30px;
}

.nav-list-items a {
    color: #EDF2C5;
}


/* Container - Article Area */

.main-img {
    display: block;
    margin-bottom: 30px;
}


/* Container - Article Area - Categories List Area */

.categories-list {
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.categories-list-items {
    width: 445px;
    list-style: none;
}

.categories-list-items .categories-title {
    height: 45px;
    display: flex;
    align-items: center;
    color: #EDF2C5;
    background-color: #778A50;
    padding-left: 30px;
    margin-bottom: 15px;
}


/* Container - Article Area - Categories List Area - Vegetables Container */

.categories-list .vegetables-container ul {
    width: 445px;
    display: flex;
    justify-content: space-between;
}

.categories-list .vegetables-container ul li {
    list-style: none;
}

.categories-list .vegetables-container ul li img {
    display: block;
}


/* Container - Article Area - Categories List Area - Contact Container */

.categories-list-items .contact-description-container {
    height: 140px;
    display: block;
    border: none;
    background-color: #F7FBDA;
    padding-left: 15px;
}

.categories-list-items .contact-description-container p {
    font-family: "Arial";
    font-size: 12px;
    color: #7D7D7D;
    padding-top: 16px;
}

.categories-list-items .contact-description-container .contact-description {
    line-height: 1.33;
}

.categories-list-items .contact-description-container .horizontal-line {
    width: 414px;
    height: 0px;
    border-top: 1px solid #7D7D7D;
    margin-top: 16px;
}

.categories-list-items .contact-description-container .contact-info {
    line-height: 1.83;
}


/* Footer Area */

footer {
    width: 1260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #778A50;
}

footer p {
    font-family: "Arial";
    font-size: 12px;
    color: #EDF2C5;
}